#rails gitignore
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.rake_tasks
.byebug_history
TAGS
_routes
# redis
*.rdb

#ruby gitignore
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tempfile

# YARD artifacts
.yardoc
_yardoc

#rails specific
*.cache
/public/assets
/public/assets.*
/public/cache
/doc/app
doc/sloccount.sc
brakeman-output.*

# Mac OS
.swp
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

#sublime text
*.sublime-workspace

#emacs
TAGS

#passenger
passenger*

#rubymine/idea
.idea/*
*.iml

#secrets
pubring.gpg~
secring.gpg
config/rubber/secret/staging-secret.yml
config/rubber/secret/production-secret.yml
config/rubber/secret/test.txt
config/.local.rb

#zeus
custom_plan.rb
zeus.json
.vscode

#python
*.pyc
.ipynb_checkpoints

#geoip2
/geoip2

#zeus
zeus.log

#settings
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/settings/production.yml
config/settings/staging.yml
config/settings/production-migration.sh
config/settings/staging-migration.sh
